# #4.5 Data Consistency

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
#establishing a path
path = r'C:\Users\harkn\OneDrive\Desktop\Tasks\Data Immersion\Instacart Basket Analysis'

In [63]:
#creating dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [64]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [65]:
df_dept = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [71]:
#describing dataframes
df_dept.columns

Index(['Unnamed: 0', 'department'], dtype='object')

In [73]:
#rename column 'Unnamed: 0' 'department_id'
df_dept.rename(columns={'Unnamed: 0': 'department_id'}, inplace=True)

In [76]:
df_dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

##### MOVING ON

In [16]:
#creating a test dataframe
df_test = pd.DataFrame()

In [18]:
df_test['mix'] = ['a', 'b', 1, True]

In [20]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [22]:
#check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [24]:
# converting mixed type into string
df_test['mix'] = df_test['mix'].astype('str')

In [26]:
# checking for null values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [28]:
# finding missing product names
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [30]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [32]:
# shape of df_prods
df_prods.shape

(49693, 5)

In [34]:
# removing blank product names for new database -- df_prods_clean
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [36]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [38]:
df_prods_clean.shape

(49677, 5)

In [40]:
# finding full duplicates 
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [42]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [44]:
df_prods_clean.shape

(49677, 5)

In [46]:
# creating a products dataframe with no duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [48]:
df_prods_clean_no_dups.shape

(49672, 5)

In [50]:
# exporting cleaned dataframe as .csv
df_prods_clean_no_dups.to_csv(r'C:\Users\harkn\OneDrive\Desktop\Tasks\Data Immersion\Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv')

##### Merging with department df

In [78]:
#merging prod and dept dataframe
df_merged = pd.merge(df_prods_clean_no_dups, df_dept, on='department_id', how='inner')

In [80]:
df_merged.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'department'],
      dtype='object')

In [82]:
#export merged prods dataframe
df_merged.to_csv(r'C:\Users\harkn\OneDrive\Desktop\Tasks\Data Immersion\Instacart Basket Analysis\02 Data\Prepared Data\products_checked_with_depts.csv')

ORDERS DATAFRAME

In [85]:
# #2 run describe function
_
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

##### 1. more order_ids than user_ids?
##### 2. I'm not really sure whart I'm looking for here.
##### 3. max order_number?

In [88]:
# 3. check for mixed types
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

##### 4. no mixed types?

In [90]:
# 5. checking for null values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Days since prior order has many nulls because people order on consecutive days.

6. Do nothing. This is important data

In [93]:
# 7. finding full duplicates 
df_ords_clean = df_ords[df_ords.duplicated()]

In [94]:
df_ords_clean.head()

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

No Duplicates

8. Do Nothing, There are no duplicates.

In [97]:
# 9. exporting cleaned dataframe as .csv
df_ords.to_csv(r'C:\Users\harkn\OneDrive\Desktop\Tasks\Data Immersion\Instacart Basket Analysis\02 Data\Prepared Data\ords_checked.csv')