# 4.8 Grouping Data and Aggregating Variables

In [12]:
#importing libraries

import pandas as pd
import numpy as np
import os

In [13]:
# establishing a path
path = r'C:\Users\harkn\OneDrive\Desktop\Tasks\Data Immersion\Instacart Basket Analysis'

In [14]:
# importing dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.7 ords_prods_merge.pkl'))

In [15]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest day,Average orders

In [16]:
#creating a subset of 1000000 rows
df = ords_prods_merge[:1000000]

In [17]:
df.shape

(1000000, 22)

In [18]:
df.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest day,Average orders

In [19]:
#group by product name
df.groupby('product_name')

In [20]:
#aggregating the number of orders by department id
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [21]:
#why do we learn two ways to do everything? this makes it more confusing.
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [22]:
# group by mean, min, max
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

In [23]:
#creating 'max_order' column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\harkn\AppData\Local\Temp\ipykernel_10044\2731412692.py:2: FutureWarning: The provided callable <function max at 0x000002339C77AB60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [24]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,17,9.0,11,1,both,Mid-range product,Least busy,Slowest day,Average orders,3

In [25]:
pd.options.display.max_rows = None

In [26]:
ords_prods_merge.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,13,NaN,10,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,17,9.0,11,1,both,Mid-range product,Least busy,Slowest day,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12372,1701441,777,...,7,26.0,7,0,both,Mid-range product,Regularly busy,Second busiest day,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,13096,1871483,825,...,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,14603,1290456,910,...,10,30.0,1,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,17065,369558,1052,...,20,19.0,1,0,both,Mid-range product,Regularly busy,Second busiest day,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,17070,589712,1052,...,12,15.0,2,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,22082,1798115,1379,...,11,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23713,497193,1480,...,13,7.0,1,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23715,1727826,1480,...,13,7.0,3,1,both,Mid-range product,Least busy,Slowest day,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23716,2694698,1480,...,12,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23937,3171753,1494,...,10,2.0,8,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,13
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23938,186761,1494,...,8,6.0,18,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,13
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23940,317121,1494,...,8,10.0,12,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,13
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24740,200390,1540,...,0,7.0,10,0,both,Mid-range product,Regularly busy,Regularly busy day,Fewest orders,28
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24741,374436,1540,...,21,6.0,9,1,both,Mid-range product,Regularly busy,Second busiest day,Average orders,28
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24742,2920553,1540,...,0,14.0,9,1,both,Mid-range product,Regularly busy,Second busiest day,Fewest orders,28
20,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24743,2813049,1540,...,2,8.0,7,1,both,Mid-range product,Regularly busy,Regularly busy day,Fewest orders,28
21,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24744,2365998,1540,...,23,6.0,6,1,both,Mid-range product,Regularly busy,Second busiest day,Fewest orders,28
22,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24745,1604797,1540,...,3,28.0,6,1,both,Mid-range product,Regularly busy,Second busiest day,Fewest orders,28
23,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24750,2799665,1540,...,14,7.0,10,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,28
24,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24751,2228851,1540,...,14,7.0,3,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,28
25,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24754,2337422,1540,...,21,0.0,5,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
26,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24755,2699008,1540,...,22,7.0,11,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
27,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24756,1914830,1540,...,22,7.0,11,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
28,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24757,783503,1540,...,20,7.0,5,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
29,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24758,2500516,1540,...,22,7.0,15,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
30,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24760,716845,1540,...,22,3.0,4,1,both,Mid-range product,Least busy,Slowest day,Average orders,28
31,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24761,1955535,1540,...,19,16.0,6,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,28
32,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24763,1424793,1540,...,1,5.0,1,1,both,Mid-range product,Regularly busy,Second busiest day,Fewest orders,28
33,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24764,749498,1540,...,21,6.0,1,1,both,Mid-range product,Busiest day,Busiest day,Average orders,28
34,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,25854,2434812,1598,...,12,NaN,2,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,4
35,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,25855,1531889,1598,...,10,21.0,2,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,4
36,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,25856,726947,1598,...,17,2.0,3,1,both,Mid-range product,Least busy,Slowest day,Average orders,4
37,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,26514,627615,1647,...,9,NaN,1,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,10
38,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,26517,2507439,1647,...,13,18.0,6,1,both,Mid-range product,Busiest day,Busiest day,Most orders,10
39,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,26519,1152609,1647,...,9,8.0,3,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,10
40,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,26521,1048339,1647,...,17,30.0,10,1,both,Mid-range product,Busiest day,Busiest day,Average orders,10
41,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,26522,2818381,1647,...,15,25.0,1,1,both,Mid-range product,Least busy,Slowest day,Most orders,10
42,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,45857,2722928,2833,...,14,NaN,12,0,both,Mid-range product,Busiest day,Busiest day,Most orders,10
43,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,46112,1482338,2850,...,16,9.0,10,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,23
44,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,46221,2311344,2857,...,8,10.0,5,0,both,Mid-range product,Regularly busy,Second busiest day,Average orders,25
45,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,48737,812943,3010,...,10,7.0,11,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,13
46,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,49060,256839,3029,...,20,NaN,8,0,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,5
47,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,54482,2192488,3395,...,10,30.0,7,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,6
48,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,63154,207661,3904,...,14,NaN,2,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,3
49,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,64629,1394659,4006,...,10,7.0,8,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,42
50,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,64630,2353526,4006,...,10,7.0,2,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,42
51,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,64632,2269226,4006,...,13,7.0,6,1,both,Mid-range product,Regularly busy,Second slowest day,Most orders,42
52,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,64636,367316,4006,...,11,5.0,3,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,42
53,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,64639,1448367,4006,...,11,4.0,2,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,42
54,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,66464,19989,4122,...,7,8.0,1,0,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,40
55,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,66740,2735922,4141,...,8,30.0,2,0,both,Mid-range product,Busiest day,Busiest day,Average orders,9
56,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,70156,2469422,4343,...,16,NaN,9,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,4
57,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,74002,3185558,4553,...,16,29.0,1,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,4
58,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,79495,350540,4845,...,13,12.0,7,0,both,Mid-range product,Busiest day,Busiest day,Most orders,14
59,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,113547,513100,6866,...,15,NaN,11,0,both,Mid-range product,Least busy,Slowest day,Most orders,6
60,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,120201,2081405,7275,...,23,4.0,6,0,both,Mid-range product,Regularly busy,Regularly busy day,Fewest orders,8
61,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,127181,2209807,7669,...,15,5.0,5,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,21
62,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,127182,921798,7669,...,17,5.0,6,1,both,Mid-range product,Regularly busy,Second busiest day,Average orders,21
63,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,127198,2540226,7669,...,8,13.0,3,1,both,Mid-range product,Regularly busy,Second busiest day,Average orders,21
64,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,132199,2265792,7981,...,15,10.0,2,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,31
65,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,132203,3357714,7981,...,23,6.0,1,1,both,Mid-range product,Busiest day,Busiest day,Fewest orders,31
66,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,132204,1186573,7981,...,23,9.0,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Fewest orders,31
67,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,132214,3209740,7981,...,13,6.0,2,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,31
68,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,132220,138748,7981,...,16,8.0,2,1,both,Mid-range product,Regularly busy,Second slowest day,Most orders,31
69,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,144644,2027157,8703,...,13,1.0,13,0,both,Mid-range product,Least busy,Slowest day,Most orders,99
70,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,144965,3052954,8723,...,10,7.0,2,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,36
71,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,145132,1486756,8735,...,11,21.0,2,0,both,Mid-range product,Least busy,Slowest day,Most orders,9
72,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,154495,632514,9293,...,12,30.0,2,0,both,Mid-range product,Busiest day,Busiest day,Most orders,5
73,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,154496,1253470,9293,...,13,30.0,1,1,both,Mid-range product,Regularly busy,Second slowest day,Most orders,5
74,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,157363,837303,9467,...,17,NaN,11,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5
75,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161167,2734881,9694,...,17,30.0,3,0,both,Mid-range product,Busiest day,Busiest day,Average orders,23
76,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161169,2164394,9694,...,18,8.0,2,1,both,Mid-range product,Least busy,Slowest day,Average orders,23
77,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161170,3354551,9694,...,15,7.0,1,1,both,Mid-range product,Least busy,Slowest day,Most orders,23
78,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161171,1381165,9694,...,21,14.0,2,1,both,Mid-range product,Least busy,Slowest day,Average orders,23
79,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161172,2809438,9694,...,18,28.0,1,1,both,Mid-range product,Least busy,Slowest day,Average orders,23
80,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161175,425352,9694,...,7,16.0,4,1,both,Mid-range product,Least busy,Slowest day,Average orders,23
81,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161179,2453441,9694,...,22,1.0,1,1,both,Mid-range product,Least busy,Slowest day,Average orders,23
82,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161180,1189695,9694,...,16,14.0,1,1,both,Mid-range product,Least busy,Slowest day,Most orders,23
83,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161181,1759231,9694,...,15,7.0,2,1,both,Mid-range product,Least busy,Slowest day,Most orders,23
84,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161185,482648,9694,...,13,8.0,1,1,both,Mid-range product,Least busy,Slowest day,Most orders,23
85,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,161187,2201348,9694,...,14,16.0,7,1,both,Mid-range product,Least busy,Slowest day,Most orders,23
86,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,163406,3351592,9848,...,18,8.0,16,0,both,Mid-range product,Least busy,Slowest day,Average orders,23
87,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,167401,2164672,10113,...,18,14.0,5,0,both,Mid-range product,Least busy,Slowest day,Average orders,11
88,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,170879,1526735,10315,...,16,NaN,2,0,both,Mid-range product,Busiest day,Busiest day,Most orders,5
89,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,173474,2057892,10479,...,16,8.0,8,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,22
90,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,177382,356685,10708,...,14,14.0,15,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,21
91,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,177386,1592736,10708,...,14,14.0,9,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,21
92,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,178699,3125810,10789,...,21,10.0,1,0,both,Mid-range product,Busiest day,Busiest day,Average orders,36
93,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,178700,846661,10789,...,19,14.0,4,1,both,Mid-range product,Busiest day,Busiest day,Average orders,36
94,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,178705,2363761,10789,...,16,4.0,2,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,36
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,179480,602103,10831,...,11,23.0,5,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,184011,49629,11119,...,14,30.0,1,0,both,Mid-range product,Regularly busy,Second busiest day,Most orders,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,185002,317888,11186,...,16,2.0,8,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,186194,682486,11243,...,13,0.0,2,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,189258,2861386,11448,...,15,3.0,6,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,21

#### ^^^This makes no sense in the coursework.

In [28]:
#assigning a flag with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [31]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [32]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1

# TASK

### #2

In [35]:
#repeating the mean for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### The results are similar. Some are slightly higher, some are slightly lower. The biggest differences were in depts 20, 11, and 9 respectively. This was not covered in the coursework.

### #5

In [38]:
#displaying the columns
ords_prods_merge[['prices', 'loyalty_flag']].head(15)

    prices      loyalty_flag
0      5.8  Regular customer
1      5.8  Regular customer
2      5.8      New customer
3      5.8      New customer
4      5.8      New customer
5      5.8  Regular customer
6      5.8      New customer
7      5.8  Regular customer
8      5.8  Regular customer
9      5.8  Regular customer
10     5.8      New customer
11     5.8    Loyal customer
12     5.8    Loyal customer
13     5.8    Loyal customer
14     5.8  Regular customer

###All of the prices are 5.8??

In [39]:
#describe loyalty_stats
ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284093.0,10.386336,328.017787,1.0,4.2,7.4,11.2,99999.0
New customer,6243990.0,13.294670,597.560299,1.0,4.2,7.4,11.3,99999.0
Regular customer,15876776.0,12.495717,539.720919,1.0,4.2,7.4,11.3,99999.0

#### The average price is slightly higher for new customers

### #6

In [42]:
#group by user and calculate the mean price of products purchased
user_avg_prices = ords_prods_merge.groupby('user_id')['prices'].mean().reset_index()

In [43]:
#create the spending flag based on the average price
user_avg_prices['spending_flag'] = user_avg_prices['prices'].apply(lambda x: 'Low spender' if x < 10 else 'High spender')

In [44]:
#test results
user_avg_prices.head(20)

    user_id      prices spending_flag
0         1    6.367797   Low spender
1         2    7.515897   Low spender
2         3    8.197727   Low spender
3         4    8.205556   Low spender
4         5    9.189189   Low spender
5         6    8.471429   Low spender
6         7    7.466990   Low spender
7         8    8.781633   Low spender
8         9    7.607895   Low spender
9        10    8.651049   Low spender
10       11    8.328723   Low spender
11       12    8.116216   Low spender
12       13    8.708642   Low spender
13       14    8.014286   Low spender
14       15    3.980556   Low spender
15       16    8.228571   Low spender
16       17  108.648299  High spender
17       18    7.702564   Low spender
18       19    8.372059   Low spender
19       20    5.409091   Low spender

In [45]:
#merge the spending flag back into the original DataFrame
ords_prods_merge = pd.merge(ords_prods_merge, user_avg_prices[['user_id', 'spending_flag']], on='user_id', how='left')

In [46]:
#test results
ords_prods_merge.head(20)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,5,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,32,Regular customer,Low spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,1,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,32,Regular customer,Low spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,20,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,Low spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,10,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,3,New customer,Low spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,11,1,both,Mid-range product,Least busy,Slowest day,Average orders,3,New customer,Low spender
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12372,1701441,777,...,7,0,both,Mid-range product,Regularly busy,Second busiest day,Average orders,26,Regular customer,Low spender
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,13096,1871483,825,...,2,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,9,New customer,Low spender
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,14603,1290456,910,...,1,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,12,Regular customer,Low spender
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,17065,369558,1052,...,1,0,both,Mid-range product,Regularly busy,Second busiest day,Average orders,20,Regular customer,Low spender
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,17070,589712,1052,...,2,1,both,Mid-range product,Regularly busy,Second busiest day,Most orders,20,Regular customer,Low spender
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,22082,1798115,1379,...,1,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,10,New customer,Low spender
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23713,497193,1480,...,1,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,43,Loyal customer,Low spender
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23715,1727826,1480,...,3,1,both,Mid-range product,Least busy,Slowest day,Most orders,43,Loyal customer,Low spender
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23716,2694698,1480,...,4,1,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,43,Loyal customer,Low spender
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23937,3171753,1494,...,8,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,13,Regular customer,Low spender
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23938,186761,1494,...,18,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,13,Regular customer,Low spender
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,23940,317121,1494,...,12,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,13,Regular customer,Low spender
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24740,200390,1540,...,10,0,both,Mid-range product,Regularly busy,Regularly busy day,Fewest orders,28,Regular customer,Low spender
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24741,374436,1540,...,9,1,both,Mid-range product,Regularly busy,Second busiest day,Average orders,28,Regular customer,Low spender
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,24742,2920553,1540,...,9,1,both,Mid-range product,Regularly busy,Second busiest day,Fewest orders,28,Regular customer,Low spender

### #7

In [48]:
#group by user and calculate the median days since prior order
user_order_frequency = ords_prods_merge.groupby('user_id')['days_since_prior_order'].median().reset_index()

In [49]:
#create the order frequency flag based on the median days since prior order
def order_frequency_flag(median_days):
    if median_days > 20:
        return 'Non-frequent customer'
    elif median_days > 10:
        return 'Regular customer'
    else:
        return 'Frequent customer'

user_order_frequency['order_frequency_flag'] = user_order_frequency['days_since_prior_order'].apply(order_frequency_flag)

In [50]:
#test results
user_order_frequency.head()

   user_id  days_since_prior_order   order_frequency_flag
0        1                    20.5  Non-frequent customer
1        2                    13.0       Regular customer
2        3                    10.0      Frequent customer
3        4                    20.0       Regular customer
4        5                    11.0       Regular customer

In [51]:
#merge the order frequency flag back into the original DataFrame
ords_prods_merge = pd.merge(ords_prods_merge, user_order_frequency[['user_id', 'order_frequency_flag']], on='user_id', how='left')

In [52]:
#test results
ords_prods_merge[['user_id', 'order_frequency_flag']].head(20)

    user_id order_frequency_flag
0       138    Frequent customer
1       138    Frequent customer
2       709    Frequent customer
3       764    Frequent customer
4       764    Frequent customer
5       777     Regular customer
6       825     Regular customer
7       910    Frequent customer
8      1052    Frequent customer
9      1052    Frequent customer
10     1379     Regular customer
11     1480    Frequent customer
12     1480    Frequent customer
13     1480    Frequent customer
14     1494    Frequent customer
15     1494    Frequent customer
16     1494    Frequent customer
17     1540    Frequent customer
18     1540    Frequent customer
19     1540    Frequent customer

In [53]:
#test results
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559858
Regular customer          7208564
Non-frequent customer     3636437
Name: count, dtype: int64

### #9

In [95]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,department,Unnamed: 0_y,order_id,user_id,...,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1987,3139998,138,...,0,both,Mid-range product,Regularly busy,Regularly busy day,Most orders,32,Regular customer,Low spender,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,1989,1977647,138,...,1,both,Mid-range product,Regularly busy,Regularly busy day,Average orders,32,Regular customer,Low spender,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,11433,389851,709,...,0,both,Mid-range product,Busiest day,Busiest day,Average orders,5,New customer,Low spender,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12198,652770,764,...,0,both,Mid-range product,Regularly busy,Second slowest day,Most orders,3,New customer,Low spender,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,12200,1813452,764,...,1,both,Mid-range product,Least busy,Slowest day,Average orders,3,New customer,Low spender,Frequent customer

In [97]:
#export data to pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.8 ords_prods_merge.pkl'))